last 2 chrome version
last 2 edge version
last 2 ChromeAndroid version
last 2 safari version
last 2 iOS version
last 2 firefox version
last 2 FirefoxAndroid version
>1%
not ie 11
firefox 41
chrome 46
